<html>
    <body>
        <table id="table" >  
            <thead>  
                <tr>  
                    <th>Username</th>  
                    <th>Password</th>  
                </tr>  
            </thead>  
             <tbody>  
             <% print.forEach(function (user) { %>
                <tr>  
                    <td><%= user.name %></td>  
                    <td><%= user.count %></td>
                </tr>                                   
             <% }) %>
             </tbody>
        </table>   
    </body>
</html>