<!DOCTYPE html>
<html>
    <head>
        <style>
            h1{
                font-size: 50px;
                color: #fff;
                text-transform: uppercase;
                font-weight: 300;
                text-align: center;
                margin-bottom: 15px;
                }
                table{
                width:100%;
                table-layout: fixed;
                }
                .tbl-header{
                background-color: rgba(255,255,255,0.3);
                }
                .tbl-content{
                height:300px;
                overflow-x:auto;
                margin-top: 0px;
                border: 1px solid rgba(255,255,255,0.3);
                }
                th{
                padding: 20px 15px;
                text-align: left;
                font-weight: 500;
                font-size: 25px;
                color: #fff;
                text-transform: uppercase;
                }
                td{
                padding: 15px;
                text-align: left;
                vertical-align:middle;
                font-weight: 300;
                font-size: 20px;
                color: #fff;
                border-bottom: solid 1px rgba(255,255,255,0.1);
                }


                /* demo styles */

                @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
                body{
                background: -webkit-linear-gradient(left, #25c481, #25b7c4);
                background: linear-gradient(to right, #25c481, #25b7c4);
                font-family: 'Roboto', sans-serif;
                }
                section{
                margin: 50px;
                }
                ::-webkit-scrollbar {
                    width: 6px;
                } 
                ::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
                } 
                ::-webkit-scrollbar-thumb {
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
                }
                
                .btn-grad {
                    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
                    text-align: center;
                    position: absolute; 
                    top: 15px; 
                    right: 15px; 
                    
                    text-align:right;
                    
                }
                .btn-grad {
                    margin-left: 500px;
                    margin: 10px;
                    padding: 15px 45px;
                    text-align: center;
                    text-transform: uppercase;
                    transition: 0.5s;
                    background-size: 200% auto;
                    color: white;            
                    box-shadow: 0 0 20px #eee;
                    border-radius: 10px;
                    display: block;
                }

                .btn-grad:hover {
                    background-position: right center; /* change the direction of the change here */
                    color: #fff;
                    text-decoration: none;
                }

                
         
        </style>
    </head>
    <body>
        <section>
            <h1>Vote Counting📃</h1>
            <div class="tbl-header">
                <table id="table" cellpadding="0" cellspacing="0" border="0">  
                    <thead>  
                        <tr> 
                            <th>S.No</th> 
                            <th>Name</th>  
                            <th>Count</th>  
                        </tr>  
                    </thead>  
                    <tbody>
                        <% var i=1 %>  
                    <% print.forEach(function (user) { %>
                        <tr>  
                            <td><%= i++ %></td>
                            <td><%= user.name %></td>  
                            <td><%= user.count %></td>
                        </tr>                                   
                    <% }) %>
                    </tbody>
                </table> 
            </div>
        </section>
        <form method="POST" onclick="log()" action="/logout"><button class='btn-grad'>LOG OUT</button></form>
        
        <script>
            $(window).on("load resize ", function() {
            var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
            $('.tbl-header').css({'padding-right':scrollWidth});
            }).resize();

            function fun()
            {
                alert("You are logging out!!!");
            }
        </script>
          
    </body>
</html>