<!DOCTYPE html>
<html>
    <head>
        <title>Not Allowed!!!</title>
        <style>
            h1
            {
                font-size: 50px;
                margin-top: 270px;
                text-align: center;
            }
            body
            {
                background: #f4c4f3; /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #f4c4f3, #fc67fa); /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #f4c4f3, #fc67fa); 
            }
        </style>
    </head>
    <body>
        <h1>You have already voted!!!</h1>
    </body>
</html>